<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="someCat"
          class="main.java.Cat">
    </bean>
    <bean id="someDog"
          class="main.java.Dog">
    </bean>
    <bean id="someMouse"
          class="main.java.Mouse">
    </bean>
</beans>